/* Background of the root red */
body {
  background-color: #ff1744;

}

div {
    max-width: 50%;
    align-content: center;
    margin:auto;


}

h1 {
    color: #fff;
    text-align: center;
}

p {
    color: #fff;
    text-align: center;
    font-size: 1.3rem;
}