/* Background of the root red */
body {
  background-color: #ff1744;

}

div {
    padding-left:1rem;
    padding-right:1rem;
    align-content: center;
    margin:auto;


}
/* If it is a desktop, then the width is 50% */
@media screen and (min-width: 768px) {
  div {
    max-width: 50%;
  }
}


h1 {
    color: #fff;
    text-align: center;
}

p {
    color: #fff;
    text-align: center;
    font-size: 1.3rem;
}
